<h1>Using Rubinius &amp; Puma on Heroku</h1>

<h2>Ruby Version</h2>

<code><pre>
&lt;%= RUBY_VERSION %&gt;
<%= RUBY_VERSION %>
</pre></code>

<h2>Ruby Engine</h2>

<code><pre>
&lt;%= RUBY_ENGINE %&gt;
<%= RUBY_ENGINE %>
</pre></code>

<h2>Rubinius Version</h2>

<code><pre>
&lt;%= Rubinius.version %&gt;
<% if defined?(Rubinius) %>
<%= Rubinius.version %>
<% end %>
</pre></code>
